body{
    margin: auto;
    text-align: center;
}

h1{
    background-color: #C4DDFF;
}

/* Navbar Section */


/* Banner Section */

#banner{
    padding-top: 100px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}
#banner-left{
    width: 30%;
}
#banner-right{
    width: 60%;
}
#banner-right > img{
    width: 100%;
    border-radius: 20px;
}




/* Adoption Section */
#adoption{
    display: flex;
    margin-top: 60px;
    margin-bottom: 100px;
}
#adoption-left{
    width: 40%;
    margin: 0% 5% 0% 5%;
}

#adoption-left > img {
    width: 80%;
}
#adoption-right{
    width: 40%;
}

/* Accessories Section */
#pet-acc{
    display: flex;
    width: 85%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ass-card{
    height: 470px;
    width: 28%;
    margin: 2%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.ass-card p{
    font-family: cursive;
}


.ass-card > img{
    margin-top: 5%;
    width: 60%;
}

.petbed{
    margin: 20%;
}
.cage{
    margin: 7%;
}

#title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #a3e0d3;
}

#title>h2 {
    font-size: 16px;
    color: #001D6E;
}

#rating {
    width: 15%;
    height: 25px;
    font-size: 10px;
    border-radius: 10px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

/* Footer Section */
#footer{
    margin-top: 50px;
    text-align: center;
    width: 100%;
    background-color: rgb(85, 81, 81);
}
#footer-cont{
    margin: auto;
    width: 85%;
    height: 300px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 0px;
    justify-content: space-around;
}
.footer-content-div{
    width: 20%;
    text-align: left;
}
#social-icon{
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 5%;
    
}
#social-icon img{
    width: 22%;
    margin: 2%;
}
#heart{
    font-size: 20px;
    color: red;
}

/* Copyright Section */
#copy{
    text-align: center;
    padding-bottom: 30px;
}



@media screen and (max-width:700px) {
    #banner{
        gap: 60px;
        flex-direction: column;
        padding-top: 100px;
        margin-bottom: 100px;
        height: 500px;
    }
    #banner-left{
        width: 80%;
    }
    #banner-right{
        width: 90%;
    }
    #adopt-p2{
        display: none;
    }
    #adoption{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #adoption-left{
        width: 80%;
    }
    #adoption-right{
        width: 90%;
    }
    #pet-acc{
        flex-direction: column;
    }
    .ass-card{
        height: 470px;
        width: 90%;
        
    }
}